<%= attachment_image_tag @blog, :image %>

<%= @blog.title %>

<%= simple_format @blog.body %>

<% if @blog.user.id == current_user.id %>
<%= link_to "編集", edit_blog_path(@blog),class: "button is-succes" %>
<% end %>
<%= @blog.user.username %>
<%= @blog.user.profile %>
<%= link_to user_path(@blog.user) do %>
<% @blog.user.username %>さんのページへ<br>
<% end %>

<% if current_user.already_favarited?(@blog) %>
  <%= link_to  blog_favarites_path(@blog), method: :delete do %>
    <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
  <%= link_to  blog_favarites_path(@blog), method: :post do %>
    <i class="far fa-heart"></i>
    <% end %>
  <%= @blog.favarites.count %>
  <% end %>

<div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@blog, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.username, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
        <%= link_to "削除", blog_comment_path(@blog,comment), method: :delete ,class: 'btn btn-default'%>
      <% end %>
    </div>
  </div>

